{% extends 'base.html.twig' %}

{% block title %}PTCC - Grupo 08 - Sensores, Arduino e Wi-fi{% endblock %}

{% block body %}

  <div class="page-header">
    <h1 class="text-center">Diagrama de Classes</h1>
  </div>

  <p class="text-center">
    <img src="{{ asset('images/diagrama_classes.png') }}" alt=""/>
  </p>

{% endblock %}
