{% extends 'base.html.twig' %}

{% block title %}PTCC - Grupo 08 - Sensores, Arduino e Wi-fi{% endblock %}

{% block body %}

  <div class="page-header">
    <h1 class="text-center">Product Backlog</h1>
  </div>

  <table class="table table-striped">
    <thead>
      <th class="text-center">Prioridade</th>
      <th class="text-center">Sprint</th>
      <th>Item do Backlog</th>
      <th>Situação</th>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">0</td>
        <td class="text-center">1</td>
        <td>Desenvolver banco de dados - Modelo lógico</td>
        <td></td>
      </tr>
      <tr>
        <td class="text-center">0</td>
        <td class="text-center">1</td>
        <td>Desenvolver banco de dados - Modelo físico
        </td>
        <td></td>
      </tr>
      <tr>
        <td class="text-center">0</td>
        <td class="text-center">2</td>
        <td>Montar e configurar dispositivo sensor de umidade do ar
        </td>
        <td class="text-success">
          <a href="https://github.com/royopa/etec-mqtt-worker/blob/main/cli-mlk-002-pub.ino/cli-mlk-002-pub.ino.ino" target="_blank">Implementado</a>
        </td>
      </tr>
      <tr>
        <td class="text-center">0</td>
        <td class="text-center">3</td>
        <td>Montar e configurar dispositivo sensor de umidade do solo
        </td>
        <td>Excluído</td>
      </tr>
      <tr>
        <td class="text-center">0</td>
        <td class="text-center">4</td>
        <td>Montar e configurar dispositivo sensor de movimento
        </td>
        <td>Excluído</td>
      </tr>
      <tr>
        <td class="text-center">0</td>
        <td class="text-center">5</td>
        <td>Montar e configurar dispositivo sensor de temperatura
        </td>
        <td class="text-success">
          <a href="https://github.com/royopa/etec-mqtt-worker/blob/main/cli-mlk-002-pub.ino/cli-mlk-002-pub.ino.ino" target="_blank">Implementado</a>
        </td>
      </tr>
      <tr>
        <td class="text-center">0</td>
        <td class="text-center">6</td>
        <td>Implementar funcionalidades para armazenamento de logs dos sensores
        </td>
        <td class="text-success">
          <a href="https://github.com/royopa/etec-mqtt-worker/blob/main/client_worker_cli-mlk-002-pub.py" target="_blank">Implementado</a>
        </td>
      </tr>
      <tr>
        <td class="text-center">0</td>
        <td class="text-center">7</td>
        <td>Desenvolver páginas para consulta de estatísticas
        </td>
        <td>Excluído</td>
      </tr>
      <tr>
        <td class="text-center">1</td>
        <td class="text-center">7</td>
        <td>Desenvolver páginas para consulta de relatórios
        </td>
        <td></td>
      </tr>
      <tr>
        <td class="text-center">2</td>
        <td class="text-center">8</td>
        <td>Implementar funcionalidades para configuração dos sensores
        </td>
        <td class="text-success">
          <a href="https://github.com/royopa/etec-symfony/blob/main/src/Controller/SensorController.php" target="_blank">Implementado</a>
        </td>
      </tr>
      <tr>
        <td class="text-center">2</td>
        <td class="text-center">8</td>
        <td>Implementar funcionalidades para emissão de alertas
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
