{% extends 'base.html.twig' %}

{% block title %}Editar Sensor{% endblock %}

{% block body %}
  <h1>Edit Sensor</h1>

  {{ include('sensor/_form.html.twig', {'button_label': 'Update'}) }}

  {{ include('sensor/_delete_form.html.twig') }}
{% endblock %}
