{% extends 'base.html.twig' %}

{% block title %}Novo Sensor{% endblock %}

{% block body %}
  <h1>Novo Sensor</h1>

  {{ include('sensor/_form.html.twig') }}

  <a href="{{ path('sensor_index') }}">back to list</a>
{% endblock %}
