<div id="footer">
  <div class="container"></br>
</br>
<p class="small text-center">PTCC - Grupo 08 - Sensores, Arduino e Wi-fi &copy; All Rights Reserved.</p>
{% block footer %}{% endblock %}
</div>
</div>
