{% extends 'base.html.twig' %}

{% block title %}PTCC - Grupo 08 - Sensores, Arduino e Wi-fi{% endblock %}

{% block body %}

  <div class="page-header">
    <h1 class="text-center">PTCC - Grupo 08 - Sensores, Arduino e Wi-fi</h1>
  </div>

  <p class="text-center">
    <img width="600" height="300" src="https://www.pxosys.com/wp-content/uploads/2020/06/15K4irO8xJW5l1RHws-Q4fA.jpeg">
  </p>

  <p class="lead text-center">
    O sistema fará a integração de dispositivos sensores de baixo custo, gerando informações para seus usuários, através de plataforma web. As informações serão coletadas pelos sensores, transmitidas por Bluetooth ou Wi-Fi e organizadas em repositório próprio. Com os dados ordenados relatórios e gráficos serão produzidos e disponibilizados em página web.
  </p>

  <p class="lead text-center">
    O objetivo do trabalho é proporcionar exemplos e casos de uso de dispositivos IoT para otimização de processos e disponibilização de facilidades e alertas, de forma a interferir positivamente na vida dos cidadãos.
  </p>

{% endblock %}
