{% extends 'base.html.twig' %}

{% block title %}Mensagens{% endblock %}

{% block body %}
  <h1>Log de mensagens (cli-mlk-002-pub/temperature)</h1>

  <table class="table table-hover table-condensed dataTable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Tópico</th>
        <th>Data de criação</th>
      </tr>
    </thead>
    <tbody>
      {% for mensagem in mensagems %}
        <tr>
          <td>{{ mensagem.id }}</td>
          <td>{{ mensagem.topicName }}</td>
          <td>{{ mensagem.topicValue }}</td>
          <td>{{ mensagem.createdAt ? mensagem.createdAt|date('d/m/Y H:i:s') : '' }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4">no records found</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
